<div class="center hero-unit">
  <h1>欢迎使用示例程序</h1>

  <h2>
	  这是系统首页
    <a href="http://railstutorial.org/">rails示例程序</a>我的示例程序
  </h2>

  <%= link_to "现在注册一个账号!", signup_path, class: "btn btn-large btn-primary" %>
</div>

